---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import HalfCafFeature from '../components/HalfCafFeature';
import WholesaleSection from '../components/WholesaleSection';
import Footer from '../components/Footer';

// Welcome to Midnight Pulse
---

<Layout>
	<Navbar client:load />
	<main>
		<Hero client:load />
		<HalfCafFeature client:visible />
		<WholesaleSection client:visible />
	</main>
	<Footer client:visible />
</Layout>
